.main-container{
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    padding-bottom: 15px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,150,233,1) 100%);
}

header > img{
   width: 50px;
   padding-left: 15px;
   padding-top: 20px;
   justify-content: center;
   flex-direction: row;
}
header > h3 {
    justify-content: center;
    flex-direction: row;
    color: #fff;
    display: inline;
    padding-left: 15px;
}
.meme-generator{
    height: 80vh;
    text-align: center;
}
.meme{
    position: relative;
    text-align: center;
    width: 100%;
}
.meme img{
    width: 80vw;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
}
.meme .top-text{
    position: absolute;
    top:0;
    color: #fff;
    width: 100%;
    text-shadow: 1px 1px 5px #000;
}
.meme .bottom-text{
    position: absolute;
    bottom:0;
    color: #fff;
    width: 100%;
    text-shadow: 1px 1px 5px #000;
}
.generate-button{
    background: #000;
    color: #fff;
    font-weight: bold;
}
input[type='text']{
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;  
}
input[type='select']{
    padding: 18px 22px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #8842d5;  
}

footer{
    text-align: center;
}
.whiteColor{
    color: #fff;
}
.blackColor{
    color: #000;
}